Осуществим предобработку данных с Твиттера, чтобы отчищенный данные в дальнейшем использовать для задачи классификации. Данный датасет содержит негативные (label = 1) и нейтральные (label = 0) высказывания.
Для работы объединим train_df и test_df.

Задания:

1) Удалим @user из всех твитов с помощью паттерна "@[\w]*". Для этого создадим функцию: 
 - для того, чтобы найти все вхождения паттерна в тексте, необходимо использовать re.findall(pattern, input_txt)
 - для для замены @user на пробел, необходимо использовать re.sub()

2) Изменим регистр твитов на нижний с помощью .lower().

3) Заменим сокращения с апострофами (пример: ain't, can't) на пробел, используя apostrophe_dict. Для этого необходимо сделать функцию: для каждого слова в тексте проверить (for word in text.split()), если слово есть в словаре apostrophe_dict в качестве ключа (сокращенного слова), то заменить ключ на значение (полную версию слова).

4) Заменим сокращения на их полные формы, используя short_word_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

5) Заменим эмотиконы (пример: ":)" = "happy") на пробелы, используя emoticon_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

6) Заменим пунктуацию на пробелы, используя re.sub() и паттерн r'[^\w\s]'.

7) Заменим спец. символы на пробелы, используя re.sub() и паттерн r'[^a-zA-Z0-9]'.

8) Заменим числа на пробелы, используя re.sub() и паттерн r'[^a-zA-Z]'.

9) Удалим из текста слова длиной в 1 символ, используя ' '.join([w for w in x.split() if len(w)>1]).

10) Поделим твиты на токены с помощью nltk.tokenize.word_tokenize, создав новый столбец 'tweet_token'.

11) Удалим стоп-слова из токенов, используя nltk.corpus.stopwords. Создадим столбец 'tweet_token_filtered' без стоп-слов.

12) Применим стемминг к токенам с помощью nltk.stem.PorterStemmer. Создадим столбец 'tweet_stemmed' после применения стемминга.

13) Применим лемматизацию к токенам с помощью nltk.stem.wordnet.WordNetLemmatizer. Создадим столбец 'tweet_lemmatized' после применения лемматизации.

14) Сохраним результат предобработки в pickle-файл.

In [1]:
apostrophe_dict = {
"ain't": "am not / are not",
"aren't": "are not / am not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he had / he would",
"he'd've": "he would have",
"he'll": "he shall / he will",
"he'll've": "he shall have / he will have",
"he's": "he has / he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how has / how is",
"i'd": "I had / I would",
"i'd've": "I would have",
"i'll": "I shall / I will",
"i'll've": "I shall have / I will have",
"i'm": "I am",
"i've": "I have",
"isn't": "is not",
"it'd": "it had / it would",
"it'd've": "it would have",
"it'll": "it shall / it will",
"it'll've": "it shall have / it will have",
"it's": "it has / it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she had / she would",
"she'd've": "she would have",
"she'll": "she shall / she will",
"she'll've": "she shall have / she will have",
"she's": "she has / she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so as / so is",
"that'd": "that would / that had",
"that'd've": "that would have",
"that's": "that has / that is",
"there'd": "there had / there would",
"there'd've": "there would have",
"there's": "there has / there is",
"they'd": "they had / they would",
"they'd've": "they would have",
"they'll": "they shall / they will",
"they'll've": "they shall have / they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
"we'd": "we had / we would",
"we'd've": "we would have",
"we'll": "we will",
"we'll've": "we will have",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what shall / what will",
"what'll've": "what shall have / what will have",
"what're": "what are",
"what's": "what has / what is",
"what've": "what have",
"when's": "when has / when is",
"when've": "when have",
"where'd": "where did",
"where's": "where has / where is",
"where've": "where have",
"who'll": "who shall / who will",
"who'll've": "who shall have / who will have",
"who's": "who has / who is",
"who've": "who have",
"why's": "why has / why is",
"why've": "why have",
"will've": "will have",
"won't": "will not",
"won't've": "will not have",
"would've": "would have",
"wouldn't": "would not",
"wouldn't've": "would not have",
"y'all": "you all",
"y'all'd": "you all would",
"y'all'd've": "you all would have",
"y'all're": "you all are",
"y'all've": "you all have",
"you'd": "you had / you would",
"you'd've": "you would have",
"you'll": "you shall / you will",
"you'll've": "you shall have / you will have",
"you're": "you are",
"you've": "you have"
}



short_word_dict = {
"121": "one to one",
"a/s/l": "age, sex, location",
"adn": "any day now",
"afaik": "as far as I know",
"afk": "away from keyboard",
"aight": "alright",
"alol": "actually laughing out loud",
"b4": "before",
"b4n": "bye for now",
"bak": "back at the keyboard",
"bf": "boyfriend",
"bff": "best friends forever",
"bfn": "bye for now",
"bg": "big grin",
"bta": "but then again",
"btw": "by the way",
"cid": "crying in disgrace",
"cnp": "continued in my next post",
"cp": "chat post",
"cu": "see you",
"cul": "see you later",
"cul8r": "see you later",
"cya": "bye",
"cyo": "see you online",
"dbau": "doing business as usual",
"fud": "fear, uncertainty, and doubt",
"fwiw": "for what it's worth",
"fyi": "for your information",
"g": "grin",
"g2g": "got to go",
"ga": "go ahead",
"gal": "get a life",
"gf": "girlfriend",
"gfn": "gone for now",
"gmbo": "giggling my butt off",
"gmta": "great minds think alike",
"h8": "hate",
"hagn": "have a good night",
"hdop": "help delete online predators",
"hhis": "hanging head in shame",
"iac": "in any case",
"ianal": "I am not a lawyer",
"ic": "I see",
"idk": "I don't know",
"imao": "in my arrogant opinion",
"imnsho": "in my not so humble opinion",
"imo": "in my opinion",
"iow": "in other words",
"ipn": "I’m posting naked",
"irl": "in real life",
"jk": "just kidding",
"l8r": "later",
"ld": "later, dude",
"ldr": "long distance relationship",
"llta": "lots and lots of thunderous applause",
"lmao": "laugh my ass off",
"lmirl": "let's meet in real life",
"lol": "laugh out loud",
"ltr": "longterm relationship",
"lulab": "love you like a brother",
"lulas": "love you like a sister",
"luv": "love",
"m/f": "male or female",
"m8": "mate",
"milf": "mother I would like to fuck",
"oll": "online love",
"omg": "oh my god",
"otoh": "on the other hand",
"pir": "parent in room",
"ppl": "people",
"r": "are",
"rofl": "roll on the floor laughing",
"rpg": "role playing games",
"ru": "are you",
"shid": "slaps head in disgust",
"somy": "sick of me yet",
"sot": "short of time",
"thanx": "thanks",
"thx": "thanks",
"ttyl": "talk to you later",
"u": "you",
"ur": "you are",
"uw": "you’re welcome",
"wb": "welcome back",
"wfm": "works for me",
"wibni": "wouldn't it be nice if",
"wtf": "what the fuck",
"wtg": "way to go",
"wtgp": "want to go private",
"ym": "young man",
"gr8": "great"
}


emoticon_dict = {
":)": "happy",
":‑)": "happy",
":-]": "happy",
":-3": "happy",
":->": "happy",
"8-)": "happy",
":-}": "happy",
":o)": "happy",
":c)": "happy",
":^)": "happy",
"=]": "happy",
"=)": "happy",
"<3": "happy",
":-(": "sad",
":(": "sad",
":c": "sad",
":<": "sad",
":[": "sad",
">:[": "sad",
":{": "sad",
">:(": "sad",
":-c": "sad",
":-< ": "sad",
":-[": "sad",
":-||": "sad"
}

In [108]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)
import os

In [109]:
train_df = pd.read_csv('train_tweets.csv')
train_df.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [110]:
test_df = pd.read_csv('test_tweets.csv')
test_df.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [111]:
combine_df = train_df.append(test_df, ignore_index = True, sort = False)
combine_df.head()

   id  label                                              tweet
0   1    0.0   @user when a father is dysfunctional and is s...
1   2    0.0  @user @user thanks for #lyft credit i can't us...
2   3    0.0                                bihday your majesty
3   4    0.0  #model   i love u take with u all the time in ...
4   5    0.0             factsguide: society now    #motivation

In [112]:
print(combine_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49159 entries, 0 to 49158
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      49159 non-null  int64
 1   label   31962 non-null  float64
 2   tweet   49159 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 1.1+ MB
None

1. Удалим @user из всех твитов с помощью паттерна "@[\w]*". Для этого создадим функцию: 
 - для того, чтобы найти все вхождения паттерна в тексте, необходимо использовать re.findall(pattern, input_txt)
 - для для замены @user на пробел, необходимо использовать re.sub()

2. Изменим регистр твитов на нижний с помощью .lower()

3. Заменим сокращения с апострофами (пример: ain't, can't) на пробел, используя apostrophe_dict. Для этого необходимо сделать функцию: для каждого слова в тексте проверить (for word in text.split()), если слово есть в словаре apostrophe_dict в качестве ключа (сокращенного слова), то заменить ключ на значение (полную версию слова).

4. Заменим сокращения на их полные формы, используя short_word_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

5. Заменим эмотиконы (пример: ":)" = "happy") на пробелы, используя emoticon_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

6. Заменим пунктуацию на пробелы, используя re.sub() и паттерн r'[^\w\s]'

7. Заменим спец. символы на пробелы, используя re.sub() и паттерн r'[^a-zA-Z0-9]'

8. Заменим числа на пробелы, используя re.sub() и паттерн r'[^a-zA-Z]'

9. Удалим из текста слова длиной в 1 символ, используя ' '.join([w for w in x.split() if len(w)>1])

10. Поделим твиты на токены с помощью nltk.tokenize.word_tokenize, создав новый столбец 'tweet_token'.

11. Удалим стоп-слова из токенов, используя nltk.corpus.stopwords. Создадим столбец 'tweet_token_filtered' без стоп-слов.

12. Применим стемминг к токенам с помощью nltk.stem.PorterStemmer. Создадим столбец 'tweet_stemmed' после применения стемминга.

13. Применим лемматизацию к токенам с помощью nltk.stem.wordnet.WordNetLemmatizer. Создадим столбец 'tweet_lemmatized' после применения лемматизации.

14. Сохраним результат предобработки в pickle-файл.

In [113]:
combine_df['tweet']

0         @user when a father is dysfunctional and is s...
1        @user @user thanks for #lyft credit i can't us...
2                                      bihday your majesty
3        #model   i love u take with u all the time in ...
4                   factsguide: society now    #motivation
                               ...
49154    thought factory: left-right polarisation! #tru...
49155    feeling like a mermaid ð #hairflip #neverre...
49156    #hillary #campaigned today in #ohio((omg)) &am...
49157    happy, at work conference: right mindset leads...
49158    my   song "so glad" free download!  #shoegaze ...
Name: tweet, Length: 49159, dtype: object

## Удалим @user из всех твитов с помощью паттерна "@[\w]*". Для этого создадим функцию:
для того, чтобы найти все вхождения паттерна в тексте, необходимо использовать re.findall(pattern, input_txt)<br>
для для замены @user на пробел, необходимо использовать re.sub()

In [156]:
def replace_regex(pattern: str, pattern2:str , data: pd.DataFrame):
    data['tweet'] = list(map(lambda x: re.sub(pattern, pattern2, x), data['tweet'].values))

In [115]:
replace_regex('@[\w]*',' ',combine_df)

In [116]:
combine_df.head()

   id  label                                              tweet
0   1    0.0     when a father is dysfunctional and is so se...
1   2    0.0      thanks for #lyft credit i can't use cause ...
2   3    0.0                                bihday your majesty
3   4    0.0  #model   i love u take with u all the time in ...
4   5    0.0             factsguide: society now    #motivation

## Изменим регистр твитов на нижний с помощью .lower()

In [117]:
combine_df['tweet'] = list(map(str.lower, combine_df['tweet'].values))

In [118]:
combine_df.head()

   id  label                                              tweet
0   1    0.0     when a father is dysfunctional and is so se...
1   2    0.0      thanks for #lyft credit i can't use cause ...
2   3    0.0                                bihday your majesty
3   4    0.0  #model   i love u take with u all the time in ...
4   5    0.0             factsguide: society now    #motivation

In [119]:
def dict_replace(txt:str , dic:dict):
    result = ""
    for word in txt.split():
        if word in dic.keys():
            result += dic[word]
        else:
            result += word
        result += " "
    return result[:-1]

## Заменим сокращения с апострофами (пример: ain't, can't) на пробел, используя apostrophe_dict. Для этого необходимо сделать функцию: для каждого слова в тексте проверить (for word in text.split()), если слово есть в словаре apostrophe_dict в качестве ключа (сокращенного слова), то заменить ключ на значение (полную версию слова).

In [120]:
combine_df['tweet'] = list(map(lambda x: dict_replace(x,apostrophe_dict), combine_df['tweet'].values))
combine_df.head()

   id  label                                              tweet
0   1    0.0  when a father is dysfunctional and is so selfi...
1   2    0.0  thanks for #lyft credit i cannot use cause the...
2   3    0.0                                bihday your majesty
3   4    0.0  #model i love u take with u all the time in ur...
4   5    0.0                factsguide: society now #motivation

## Заменим сокращения на их полные формы, используя short_word_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

In [121]:
combine_df['tweet'] = list(map(lambda x: dict_replace(x,short_word_dict), combine_df['tweet'].values))
combine_df.head()

   id  label                                              tweet
0   1    0.0  when a father is dysfunctional and is so selfi...
1   2    0.0  thanks for #lyft credit i cannot use cause the...
2   3    0.0                                bihday your majesty
3   4    0.0  #model i love you take with you all the time i...
4   5    0.0                factsguide: society now #motivation

## Заменим эмотиконы (пример: ":)" = "happy") на пробелы, используя emoticon_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

In [122]:
combine_df['tweet'] = list(map(lambda x: dict_replace(x,emoticon_dict), combine_df['tweet'].values))
combine_df.head()

   id  label                                              tweet
0   1    0.0  when a father is dysfunctional and is so selfi...
1   2    0.0  thanks for #lyft credit i cannot use cause the...
2   3    0.0                                bihday your majesty
3   4    0.0  #model i love you take with you all the time i...
4   5    0.0                factsguide: society now #motivation

## Заменим пунктуацию на пробелы, используя re.sub() и паттерн r'[^\w\s]'

In [124]:
replace_regex('[^\w\s]',' ',combine_df)

In [125]:
print(combine_df['tweet'])

0        when a father is dysfunctional and is so selfi...
1        thanks for  lyft credit i cannot use cause the...
2                                      bihday your majesty
3         model i love you take with you all the time i...
4                      factsguide  society now  motivation
                               ...
49154    thought factory  left right polarisation   tru...
49155    feeling like a mermaid ð     hairflip  neverre...
49156     hillary  campaigned today in  ohio  omg    am...
49157    happy  at work conference  right mindset leads...
49158    my song  so glad  free download   shoegaze  ne...
Name: tweet, Length: 49159, dtype: object

## Заменим спец. символы на пробелы, используя re.sub() и паттерн r'[^a-zA-Z0-9]'

In [127]:
replace_regex('[^a-zA-Z0-9]',' ',combine_df)

In [128]:
print(combine_df['tweet'].head(10))

0        when a father is dysfunctional and is so selfi...
1        thanks for  lyft credit i cannot use cause the...
2                                      bihday your majesty
3         model i love you take with you all the time i...
4                      factsguide  society now  motivation
                               ...
49154    thought factory  left right polarisation   tru...
49155    feeling like a mermaid       hairflip  neverre...
49156     hillary  campaigned today in  ohio  omg    am...
49157    happy  at work conference  right mindset leads...
49158    my song  so glad  free download   shoegaze  ne...
Name: tweet, Length: 49159, dtype: object

## Заменим числа на пробелы, используя re.sub() и паттерн r'[^a-zA-Z]'

In [131]:
replace_regex('[^a-zA-Z]',' ',combine_df)
print(combine_df['tweet'].head(10))

0    when a father is dysfunctional and is so selfi...
1    thanks for  lyft credit i cannot use cause the...
2                                  bihday your majesty
3     model i love you take with you all the time i...
4                  factsguide  society now  motivation
5          huge fan fare and big talking before the...
6                            camping tomorrow danny
7    the next school year is the year for exams    ...
8    we won    love the land     allin  cavs  champ...
9         welcome here   I am it has   it is so  gr
Name: tweet, dtype: object

## Удалим из текста слова длиной в 1 символ, используя ' '.join([w for w in x.split() if len(w)>1])

In [134]:
combine_df["tweet"] = list(map(lambda x: ' '.join([w for w in x.split() if len(w)>1]), combine_df["tweet"].values))
combine_df['tweet'].head(10)

0    when father is dysfunctional and is so selfish...
1    thanks for lyft credit cannot use cause they d...
2                                  bihday your majesty
3      model love you take with you all the time in ur
4                    factsguide society now motivation
5    huge fan fare and big talking before they leav...
6                               camping tomorrow danny
7    the next school year is the year for exams can...
8    we won love the land allin cavs champions clev...
9                   welcome here am it has it is so gr
Name: tweet, dtype: object

## Поделим твиты на токены с помощью nltk.tokenize.word_tokenize, создав новый столбец 'tweet_token'

In [135]:
from nltk.tokenize import word_tokenize

In [136]:
combine_df['tweet_token'] = list(map(word_tokenize, combine_df["tweet"].values))
combine_df.tail(10)

,id,label,tweet,tweet_token
49149,49150,NaN,loving life createyourfuture lifestyle holiday...,"[loving, life, createyourfuture, lifestyle, ho..."
49150,49151,NaN,black professor demonizes proposes nazi style ...,"[black, professor, demonizes, proposes, nazi, ..."
49151,49152,NaN,learn how to think positive positive instagram...,"[learn, how, to, think, positive, positive, in..."
49152,49153,NaN,we love the pretty happy and fresh you teenili...,"[we, love, the, pretty, happy, and, fresh, you..."
49153,49154,NaN,damn tuff ruff muff techno city ng web ukhx in...,"[damn, tuff, ruff, muff, techno, city, ng, web..."
49154,49155,NaN,thought factory left right polarisation trump ...,"[thought, factory, left, right, polarisation, ..."
49155,49156,NaN,feeling like mermaid hairflip neverready forma...,"[feeling, like, mermaid, hairflip, neverready,..."
49156,49157,NaN,hillary campaigned today in ohio omg amp used ...,"[hillary, campaigned, today, in, ohio, omg, am..."
49157,49158,NaN,happy at work conference right mindset leads t...,"[happy, at, work, conference, right, mindset, ..."
49158,49159,NaN,my song so glad free download shoegaze newmusi...,"[my, song, so, glad, free, download, shoegaze,..."

## Удалим стоп-слова из токенов, используя nltk.corpus.stopwords. Создадим столбец 'tweet_token_filtered' без стоп-слов.

In [138]:
from nltk.corpus import stopwords
nltk.download('stopwords')
print(stopwords.words("english"))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\chinyaev.av\AppData\Roaming\nltk_data...

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

[nltk_data]   Unzipping corpora\stopwords.zip.

In [139]:
combine_df['tweet_token_filtered'] = list(map(lambda x: [word for word in x if not word in stopwords.words("english")], combine_df["tweet_token"].values))

In [140]:
combine_df.tail(10)

,id,label,tweet,tweet_token,tweet_token_filtered
49149,49150,NaN,loving life createyourfuture lifestyle holiday...,"[loving, life, createyourfuture, lifestyle, ho...","[loving, life, createyourfuture, lifestyle, ho..."
49150,49151,NaN,black professor demonizes proposes nazi style ...,"[black, professor, demonizes, proposes, nazi, ...","[black, professor, demonizes, proposes, nazi, ..."
49151,49152,NaN,learn how to think positive positive instagram...,"[learn, how, to, think, positive, positive, in...","[learn, think, positive, positive, instagram, ..."
49152,49153,NaN,we love the pretty happy and fresh you teenili...,"[we, love, the, pretty, happy, and, fresh, you...","[love, pretty, happy, fresh, teenilicious, fix..."
49153,49154,NaN,damn tuff ruff muff techno city ng web ukhx in...,"[damn, tuff, ruff, muff, techno, city, ng, web...","[damn, tuff, ruff, muff, techno, city, ng, web..."
49154,49155,NaN,thought factory left right polarisation trump ...,"[thought, factory, left, right, polarisation, ...","[thought, factory, left, right, polarisation, ..."
49155,49156,NaN,feeling like mermaid hairflip neverready forma...,"[feeling, like, mermaid, hairflip, neverready,...","[feeling, like, mermaid, hairflip, neverready,..."
49156,49157,NaN,hillary campaigned today in ohio omg amp used ...,"[hillary, campaigned, today, in, ohio, omg, am...","[hillary, campaigned, today, ohio, omg, amp, u..."
49157,49158,NaN,happy at work conference right mindset leads t...,"[happy, at, work, conference, right, mindset, ...","[happy, work, conference, right, mindset, lead..."
49158,49159,NaN,my song so glad free download shoegaze newmusi...,"[my, song, so, glad, free, download, shoegaze,...","[song, glad, free, download, shoegaze, newmusi..."

## Применим стемминг к токенам с помощью nltk.stem.PorterStemmer. Создадим столбец 'tweet_stemmed' после применения стемминга.

In [141]:
from nltk.stem import PorterStemmer

In [142]:
stemmer = PorterStemmer()

In [143]:
[stemmer.stem(word) for word in combine_df["tweet_token_filtered"].values[0]]

['father', 'dysfunct', 'selfish', 'drag', 'kid', 'dysfunct', 'run']

In [144]:
combine_df['tweet_stemmed'] = list(map(lambda x: set(stemmer.stem(word) for word in x), combine_df["tweet_token_filtered"].values))

In [145]:
combine_df.tail(10)

,id,label,tweet,tweet_token,tweet_token_filtered,tweet_stemmed
49149,49150,NaN,loving life createyourfuture lifestyle holiday...,"[loving, life, createyourfuture, lifestyle, ho...","[loving, life, createyourfuture, lifestyle, ho...","{life, beach, love, holiday, hyatt, lifestyl, ..."
49150,49151,NaN,black professor demonizes proposes nazi style ...,"[black, professor, demonizes, proposes, nazi, ...","[black, professor, demonizes, proposes, nazi, ...","{style, black, like, asset, germani, nazi, bre..."
49151,49152,NaN,learn how to think positive positive instagram...,"[learn, how, to, think, positive, positive, in...","[learn, think, positive, positive, instagram, ...","{think, instagood, learn, instagram, posit}"
49152,49153,NaN,we love the pretty happy and fresh you teenili...,"[we, love, the, pretty, happy, and, fresh, you...","[love, pretty, happy, fresh, teenilicious, fix...","{fixdermateen, generationz, love, pretti, teen..."
49153,49154,NaN,damn tuff ruff muff techno city ng web ukhx in...,"[damn, tuff, ruff, muff, techno, city, ng, web...","[damn, tuff, ruff, muff, techno, city, ng, web...","{web, vk, damn, int, ruff, tuff, gabba, citi, ..."
49154,49155,NaN,thought factory left right polarisation trump ...,"[thought, factory, left, right, polarisation, ...","[thought, factory, left, right, polarisation, ...","{thought, brexit, polaris, right, leadership, ..."
49155,49156,NaN,feeling like mermaid hairflip neverready forma...,"[feeling, like, mermaid, hairflip, neverready,...","[feeling, like, mermaid, hairflip, neverready,...","{formal, mermaid, like, feel, hairflip, gown, ..."
49156,49157,NaN,hillary campaigned today in ohio omg amp used ...,"[hillary, campaigned, today, in, ohio, omg, am...","[hillary, campaigned, today, ohio, omg, amp, u...","{thee, today, like, clinton, asset, omg, say, ..."
49157,49158,NaN,happy at work conference right mindset leads t...,"[happy, at, work, conference, right, mindset, ...","[happy, work, conference, right, mindset, lead...","{right, lead, mindset, cultur, organ, work, co..."
49158,49159,NaN,my song so glad free download shoegaze newmusi...,"[my, song, so, glad, free, download, shoegaze,...","[song, glad, free, download, shoegaze, newmusi...","{newsong, shoegaz, song, download, newmus, fre..."

## Применим лемматизацию к токенам с помощью nltk.stem.wordnet.WordNetLemmatizer. Создадим столбец 'tweet_lemmatized' после применения лемматизации.

In [147]:
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet

In [146]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\chinyaev.av\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

True

In [151]:
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\chinyaev.av\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\omw-1.4.zip.

True

In [152]:
lemmatizer = WordNetLemmatizer()

In [153]:
combine_df['tweet_lemmatized'] = list(map(lambda x: set(lemmatizer.lemmatize(word, pos=wordnet.VERB) for word in x), combine_df["tweet_token_filtered"].values))

In [154]:
combine_df.tail(10)

,id,label,tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
49149,49150,NaN,loving life createyourfuture lifestyle holiday...,"[loving, life, createyourfuture, lifestyle, ho...","[loving, life, createyourfuture, lifestyle, ho...","{life, beach, love, holiday, hyatt, lifestyl, ...","{createyourfuture, life, beach, love, regency,..."
49150,49151,NaN,black professor demonizes proposes nazi style ...,"[black, professor, demonizes, proposes, nazi, ...","[black, professor, demonizes, proposes, nazi, ...","{style, black, like, asset, germani, nazi, bre...","{germany, black, like, confiscation, nazi, bre..."
49151,49152,NaN,learn how to think positive positive instagram...,"[learn, how, to, think, positive, positive, in...","[learn, think, positive, positive, instagram, ...","{think, instagood, learn, instagram, posit}","{think, instagood, learn, instagram, positive}"
49152,49153,NaN,we love the pretty happy and fresh you teenili...,"[we, love, the, pretty, happy, and, fresh, you...","[love, pretty, happy, fresh, teenilicious, fix...","{fixdermateen, generationz, love, pretti, teen...","{fixdermateen, generationz, love, fresh, happy..."
49153,49154,NaN,damn tuff ruff muff techno city ng web ukhx in...,"[damn, tuff, ruff, muff, techno, city, ng, web...","[damn, tuff, ruff, muff, techno, city, ng, web...","{web, vk, damn, int, ruff, tuff, gabba, citi, ...","{web, city, vk, damn, int, ruff, tuff, gabba, ..."
49154,49155,NaN,thought factory left right polarisation trump ...,"[thought, factory, left, right, polarisation, ...","[thought, factory, left, right, polarisation, ...","{thought, brexit, polaris, right, leadership, ...","{politics, think, right, leadership, brexit, f..."
49155,49156,NaN,feeling like mermaid hairflip neverready forma...,"[feeling, like, mermaid, hairflip, neverready,...","[feeling, like, mermaid, hairflip, neverready,...","{formal, mermaid, like, feel, hairflip, gown, ...","{formal, mermaid, like, feel, hairflip, neverr..."
49156,49157,NaN,hillary campaigned today in ohio omg amp used ...,"[hillary, campaigned, today, in, ohio, omg, am...","[hillary, campaigned, today, ohio, omg, amp, u...","{thee, today, like, clinton, asset, omg, say, ...","{thee, today, like, clinton, radicalization, o..."
49157,49158,NaN,happy at work conference right mindset leads t...,"[happy, at, work, conference, right, mindset, ...","[happy, work, conference, right, mindset, lead...","{right, lead, mindset, cultur, organ, work, co...","{right, culture, lead, mindset, work, conferen..."
49158,49159,NaN,my song so glad free download shoegaze newmusi...,"[my, song, so, glad, free, download, shoegaze,...","[song, glad, free, download, shoegaze, newmusi...","{newsong, shoegaz, song, download, newmus, fre...","{newsong, newmusic, song, download, free, shoe..."

## Сохраним результат предобработки в pickle-файл.

In [155]:
combine_df.loc[combine_df['label'] != -1].to_pickle("df_train.pkl")
combine_df.loc[combine_df['label'] == -1].drop('label', axis=1).head().to_pickle("df_test.pkl")